@npm:registry=https://registry.npmjs.org/
@dexcalibur:registry=https://gitlab.reversense.org/api/v4/packages/npm

# //gitlab.reversense.org/api/v4/packages/npm/:_authToken="${NPM_CI_TOKEN}"
# //gitlab.reversense.org/api/v4/groups/11/-/packages/npm/:_authToken="${NPM_CI_TOKEN}"
//gitlab.reversense.org/api/v4:_authToken="${NPM_TOKEN}"