@npm:registry=https://registry.npmjs.org/
@dexcalibur:registry=https://gitlab.reversense.org/api/v4/packages/npm

//gitlab.reversense.org/api/v4/packages/npm/:_password="${NPM_CI_TOKEN}"
//gitlab.reversense.org/api/v4/packages/npm/:username="${NPM_CI_USER}"
//gitlab.reversense.org/api/v4/groups/11/-/packages/npm/:_password="${NPM_CI_TOKEN}"
//gitlab.reversense.org/api/v4/groups/11/-/packages/npm/:username="${NPM_CI_USER}"
//gitlab.reversense.org/api/v4/projects/25/packages/npm/:_password="${NPM_CI_TOKEN}"
//gitlab.reversense.org/api/v4/projects/25/packages/npm/:username="${NPM_CI_USER}"